<div style="text-align:center">
  <img width="180" alt="Angular Logo" src="/assets/logo-PUCE.png">
  <h2>
    Proyecto Sistemas de Información Geográfica
  </h2>
</div>
<iframe width="1420" height="590" src="//wheelmap.org/es/embed/KspsYddda5m3zEsGQgmU#/?lat=-0.209593&lon=-78.489588&zoom=16"></iframe>
<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
